<div class="header">
  <div class="container">
    <div class="header__top">
      <div class="search">
        <fa-icon class="search__youTube" [icon]="faYoutube"></fa-icon>
        <app-search></app-search>

        <button (click)="showFiltration = !showFiltration" type="button" class="search__options">
          <fa-icon [icon]="faSliders"></fa-icon>
        </button>
      </div>
      <app-user class="header__user"></app-user>
    </div>
    <div *ngIf="showFiltration" class="header__bottom">
      <app-setting></app-setting>
    </div>
  </div>
</div>
