.video {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 21px;
  background-color: var(--mainGrey);
  border-radius: 5px;
  width: 264px;
  height: 327px;
  &__preview {
    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__name {
    margin-top: 21px;
    width: 100%;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: right;
  }
  &__statistics {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
  }
  &__info {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
  }
  &__button {
    width: 120px;
    height: 32px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    background-color: var(--mainBlue);
    box-shadow: 2px 0px 4px 0px #2f80ed;
  }
  &__line {
    position: absolute;
    height: 5px;
    width: 100%;
    border-radius: 0px 0px 5px 5px;
    bottom: 0;
    background-color: var(--mainGreen);
  }
}
.grin {
  background-color: var(--mainGreen);
}
.yellow {
  background-color: var(--mainYellow);
}
.red {
  background-color: var(--mainRed);
}
.blue {
  background-color: var(--mainBlue);
}
