.search {
  &__input {
    box-sizing: border-box;
    height: 24px;
    border: none;
    outline: none;
  }
  &__btn {
    height: 24px;
    border: none;
    outline: none;
    border-radius: 0px 5px 5px 0px;
    color: white;
    background: #2f80ed;
    cursor: pointer;
  }
}
